services:
  backend:
    build: .
    depends_on:
      - postgresql
    ports:
      - target: 8000
        published: 8000
    environment:
      DB_HOST: postgresql
      DB_USERNAME: postgres
      DB_PASSWORD: mysecretpassword
      DB_NAME: ispend_db

  postgresql:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ispend_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5432:5432"
    volumes:
      - postgresql_data:/var/lib/postgresql/data

volumes:
  postgresql_data:
